@font-face {
    font-family: 'InstrumentSerif';
    font-weight: 400;
    font-style: normal;
    src: url('InstrumentSerif-Regular.ttf') format("truetype")
}

@font-face {
    font-family: 'InstrumentSerif';
    font-weight: 400;
    font-style: italic;
    src: url('InstrumentSerif-Italic.ttf') format('truetype')
}